extends _layout
block content
  .container
    .row
      .col-md-3
        .form-group(style='width: 100%').docs-push
          input.form-control(type="text", placeholder="Search").search-form
          //-span.input-group-btn(style='width: 40px')
            button.btn.btn-default.search-trigger
              i.fa.fa-search.fa-fw
        != sidebar
      .col-md-9.main
        h1.page-header= title
          .pull-right
            a(href="#{link}", data-toggle='tooltip', data-placement='left', title='Improve this article').btn.btn-default.edit-btn
              i.fa.fa-pencil.fa-fw
        != doc
        ol.breadcrumb.doc-breadcrumb
          each crumb in breadcrumbs
            if crumb.active
              li.active= crumb.title
            else
              li
                a(href="#{crumb.link}")= crumb.title