@import 'nib'

html
  overflow-y: scroll

body
  background: #fff
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  padding-top: 51px

.sponge-logo
  height: 36px
  float: left
  margin-top: -8px

@media screen and (max-width: 767px)
  .sponge-logo
    margin-top: -4px

.logo-a
  height: 50px

.search-back
  font-family: 'Open Sans', Helvetica, Arial, sans-serif

.landing-heading
  margin-bottom: 30px
  font-weight: lighter

.result
  margin-top: 20px
  h3
    display: inline
    margin-top: 2px
  .breadcrumb
    display: inline
    background: none

.nav-form
  margin-top: 8px

  .form-group
    margin-bottom: 0

.landing-bold
  font-weight: bold
  display: inline

.proj-row
  margin-bottom: 40px

.project-list
  padding-bottom: 120px;

.page-header
  margin-top: 0

.main
  padding-top: 40px

.landing
  font-size: 20px

.project-header
  display: block

.project-icon
  margin-top: 30px

.search-back
  position: relative
  width: 100%
  height: 500px
  background: url(../img/back.png) no-repeat center center
  background-size: cover
  color #eee
  box-shadow 0 15px 40px rgba(0, 0, 0, 0.1)

  .search-cover
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 5
    background: linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))

  .search-text
    position: absolute
    left: 0
    right: 0
    top: 150px
    z-index: 10

  a
    color #bbb

    &:hover
      color #ddd
      text-decoration none

.docs-push
  margin-top: 46px

.docs-nav
  li
    border-left: 2px solid transparent
    &.active
      border-left: 2px solid #4b7b97
      background: #f9f9f9
      font-weight: bold

    a
      padding: 7px 10px
      font-size: 13px

.nav-nested
  padding-left: 12px !important

.doc-breadcrumb
  margin-top: 20px